.sidebar {
    background-color: black;
    width: 30%;
    height: 600px;
    padding: 10px;
    text-align: center;
    float: left;
}

.update-game-form {
  margin-top: 50px;
}

.show-games {
  display: inline-block;
  background-color: white;
  border: black;
  border-width: 3px;
  border-radius: 5px;
  padding: 5px;
  # float: left;
  padding-right: 10px;
}

.hb-score .hb-lvl {
  float: right;
}

.update-game-button {
  margin-top: 50px;
  margin-right: 500px;
}

.navbutton {

  display: block;
  margin: 10px;

}

.crud {

  color: black;

}

.content {
    background-color: green;
    # color: white;
    height: 600px;
    width: 70%;
    float: left;
}
