{{#each this}}

<div class="show-games">
  <div class="hb-id">
    Game ID: {{id}}
  </div>
  <div class="hb-lvl">
    Level: {{lvl}}
  </div>
  <div class="hb-score">
    Score: {{score}}
  </div>
</div>

{{/each}}
